body {
  margin: 0;
  padding: 0;
}

//navbar
.section-uno {
  background-color: black;
  width: 100%;
  height: 800px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
}

.first-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 30em;
}
.first-image {
  cursor: pointer;
}
.lil-links ol {
  word-spacing: 2rem;
}
.lil-links li {
  display: inline-block;
}
.lil-links li a {
  color: #d2d0db;
  text-decoration: none;
  cursor: pointer;
}
.lil-links li a:hover {
  color: blue;
  transition: 0.2s;
}

// title sec
.title {
  display: flex;
  width: 60%;
  margin-left: 30rem;
  margin-top: 6rem;
}
.cloud-sec {
  font-size: 80px;
  color: white;
  font-family: "inter";
  font-weight: 300;
}
.title-p {
  color: #b9c3cf;
  font-size: 20px;
  line-height: 0;
}
//get startedbutton

.title-btn {
  background-color: #ff3400;
  border-radius: 5rem;
  width: 25%;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
}
.title-btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.title-banner {
  position: relative;
  bottom: 10rem;
}
